alembic==1.5.8
asgiref==3.3.4
colorama==0.4.4
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
flask-mailman==0.2.4
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
munch==2.5.0
nc-console==0.0.3
SQLAlchemy==1.4.11
SQLAlchemy-JSONField==1.0.0
WTForms-SQLAlchemy==0.2