{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "admin/layout.html" import messages with context %}

{% block title %}
Admin login page
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='admin/css/styles.css')}}">
{% endblock %}

{% block content %}
  <div class="container login_page_main py=4">
    <br>
    <h2>The default Admin login page</h2>
    <br>
    <p class="admin_login_flash">{{messages(class="danger")}}</p>
    <center>
      <form class="form form-horizontal" method="post" role="form" action="/admin/login/">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.username, placeholder="Enter the username here", id="usernameField") }}
        {{ wtf.form_field(form.password, placeholder="Enter the password here", id="passwordField") }}
        <button class="btn btn-primary login-button" type="submit" value="submit" >Submit</button>
      </form>
    </center>
  </div>
{% endblock %}